In [1]:
from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json

url = 'https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest'
parameters = {
  'start':'1',
  'limit':'5000',
  'convert':'USD'
}
headers = {
  'Accepts': 'application/json',
  'X-CMC_PRO_API_KEY': '066c7198-4818-43f8-8298-e7f291bb7c80',
}

session = Session()
session.headers.update(headers)

try:
  response = session.get(url, params=parameters)
  data = json.loads(response.text)
  print(data)
except (ConnectionError, Timeout, TooManyRedirects) as e:
  print(e)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [2]:
type(data)

dict

In [3]:
import pandas as pd

In [4]:
pd.json_normalize(data['status'])

,timestamp,error_code,error_message,elapsed,credit_count,notice,total_count
0,2025-01-29T01:58:12.348Z,0,None,82,25,None,10769

In [9]:
pd.json_normalize(data['data'])

,id,name,symbol,slug,num_market_pairs,date_added,tags,max_supply,circulating_supply,total_supply,...,quote.USD.market_cap,quote.USD.market_cap_dominance,quote.USD.fully_diluted_market_cap,quote.USD.tvl,quote.USD.last_updated,platform.id,platform.name,platform.symbol,platform.slug,platform.token_address
0,1,Bitcoin,BTC,bitcoin,11884,2010-07-13T00:00:00.000Z,"[mineable, pow, sha-256, store-of-value, state...",2.100000e+07,1.981631e+07,19816309,...,2.016365e+12,58.3704,2.136809e+12,NaN,2025-01-29T01:56:00.000Z,NaN,NaN,NaN,NaN,NaN
1,1027,Ethereum,ETH,ethereum,9901,2015-08-07T00:00:00.000Z,"[pos, smart-contracts, ethereum-ecosystem, coi...",NaN,1.205140e+08,120514017.959353,...,3.745267e+11,10.8388,3.745267e+11,NaN,2025-01-29T01:57:00.000Z,NaN,NaN,NaN,NaN,NaN
2,52,XRP,XRP,xrp,1518,2013-08-04T00:00:00.000Z,"[medium-of-exchange, enterprise-solutions, xrp...",1.000000e+11,5.764121e+10,99986586496,...,1.768517e+11,5.1181,3.068147e+11,NaN,2025-01-29T01:57:00.000Z,NaN,NaN,NaN,NaN,NaN
3,825,Tether USDt,USDT,tether,114990,2015-02-25T00:00:00.000Z,"[stablecoin, asset-backed-stablecoin, ethereum...",NaN,1.394688e+11,141572893914.550812,...,1.394207e+11,4.0348,1.415242e+11,NaN,2025-01-29T01:56:00.000Z,1027.0,Ethereum,ETH,ethereum,0xdac17f958d2ee523a2206206994597c13d831ec7
4,5426,Solana,SOL,solana,834,2020-04-10T00:00:00.000Z,"[pos, platform, solana-ecosystem, cms-holdings...",NaN,4.866621e+08,592873736.956595,...,1.116688e+11,3.2326,1.360400e+11,NaN,2025-01-29T01:56:00.000Z,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,28536,ELON MARS,ELONMARS,elon-mars,3,2023-11-29T09:38:31.000Z,"[memes, doggone-doggerel, bnb-chain-ecosystem]",4.200000e+17,0.000000e+00,420000000000000000,...,0.000000e+00,0.0000,1.576114e+05,NaN,2025-01-29T01:57:00.000Z,1839.0,BNB Smart Chain (BEP20),BNB,bnb,0xa526b7abb8010cd3b79c56e074ad34dff3d4b0e7
4996,33594,TRUMP AI,TRAIMP,trump-ai-solana,1,2024-10-23T15:10:00.000Z,"[memes, solana-ecosystem]",9.999996e+08,0.000000e+00,999999638,...,0.000000e+00,0.0000,5.326071e+04,NaN,2025-01-29T01:57:00.000Z,5426.0,Solana,SOL,solana,TrUPjEqGpUph6sMJX8C3yYja9u4RcVUGTCkGG4xLrjG
4997,34324,Ronda On Sui,RONDA,ronda-on-sui,3,2024-11-29T11:45:35.000Z,"[doggone-doggerel, sui-ecosystem]",1.000000e+10,0.000000e+00,10000000000,...,0.000000e+00,0.0000,9.435907e+04,NaN,2025-01-29T01:57:00.000Z,20947.0,Sui Network,SUI,sui,0xdc9b462697876ff4c680e59b3756ac39a6899cfbc355...
4998,20573,Yeni Malatyaspor Token,YMS,yeni-malatyaspor-token,1,2022-06-13T08:43:09.000Z,[ethereum-ecosystem],1.000000e+06,0.000000e+00,1000000,...,0.000000e+00,0.0000,2.465987e+04,NaN,2025-01-29T01:57:00.000Z,1027.0,Ethereum,ETH,ethereum,0xd64126835ceCAcA345c8f137bda68e975f5aB790
4999,33240,Seiyan Token,SEIYAN,seiyan-token,7,2024-09-30T07:44:24.000Z,[sei-ecosystem],1.000000e+09,0.000000e+00,1000000000,...,0.000000e+00,0.0000,2.903978e+06,NaN,2025-01-29T01:57:00.000Z,23149.0,Sei Network,SEI,sei,0x5f0E07dFeE5832Faa00c63F2D33A0D79150E8598

In [11]:
def api_runner():
    from requests import Request, Session
    from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
    import json
    
    url = 'https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest'
    parameters = {
      'start':'1',
      'limit':'5000',
      'convert':'USD'
    }
    headers = {
      'Accepts': 'application/json',
      'X-CMC_PRO_API_KEY': '066c7198-4818-43f8-8298-e7f291bb7c80',
    }
    
    session = Session()
    session.headers.update(headers)
    
    try:
      response = session.get(url, params=parameters)
      data = json.loads(response.text)
      print(data)
    except (ConnectionError, Timeout, TooManyRedirects) as e:
      print(e)
    df=pd.json_normalize(data['data'])
    df['time_stamp']=pd.to_datetime('now')
    if not os.path.isfile(r'C:\Users\DELL\Downloads\Dataset for practise\API_KEYS\API.csv'):
        df.to_csv(r'C:\Users\DELL\Downloads\Dataset for practise\API_KEYS\API.csv',header='column_names')
    else:
        df.to_csv(r'C:\Users\DELL\Downloads\Dataset for practise\API_KEYS\API.csv',mode='a',header=False)

In [13]:
import os
from time import time
from time import sleep
for i in range(333):
    api_runner()
    print('Run Completed')
    sleep(60)
exit()

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Run Completed
HTTPSConnectionPool(host='pro-api.coinmarketcap.com', port=443): Max retries exceeded with url: /v1/cryptocurrency/listings/latest?start=1&limit=5000&convert=USD (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x00000238242192B0>: Failed to resolve 'pro-api.coinmarketcap.com' ([Errno 11004] getaddrinfo failed)"))

UnboundLocalError: cannot access local variable 'data' where it is not associated with a value

In [18]:
df2=pd.read_csv(r'C:\Users\DELL\Downloads\Dataset for practise\API_KEYS\API.csv')
df2

,Unnamed: 0,id,name,symbol,slug,num_market_pairs,date_added,tags,max_supply,circulating_supply,...,quote.USD.market_cap_dominance,quote.USD.fully_diluted_market_cap,quote.USD.tvl,quote.USD.last_updated,platform.id,platform.name,platform.symbol,platform.slug,platform.token_address,time_stamp
0,0,1,Bitcoin,BTC,bitcoin,11884,2010-07-13T00:00:00.000Z,"['mineable', 'pow', 'sha-256', 'store-of-value...",2.100000e+07,1.981602e+07,...,58.0258,2.149212e+12,NaN,2025-01-28T02:48:00.000Z,NaN,NaN,NaN,NaN,NaN,2025-01-28 08:20:49.839069
1,1,1027,Ethereum,ETH,ethereum,9900,2015-08-07T00:00:00.000Z,"['pos', 'smart-contracts', 'ethereum-ecosystem...",NaN,1.205120e+08,...,11.0281,3.853972e+11,NaN,2025-01-28T02:48:00.000Z,NaN,NaN,NaN,NaN,NaN,2025-01-28 08:20:49.839069
2,2,52,XRP,XRP,xrp,1518,2013-08-04T00:00:00.000Z,"['medium-of-exchange', 'enterprise-solutions',...",1.000000e+11,5.764121e+10,...,5.0390,3.055384e+11,NaN,2025-01-28T02:48:00.000Z,NaN,NaN,NaN,NaN,NaN,2025-01-28 08:20:49.839069
3,3,825,Tether USDt,USDT,tether,114914,2015-02-25T00:00:00.000Z,"['stablecoin', 'asset-backed-stablecoin', 'eth...",NaN,1.394574e+11,...,3.9896,1.415552e+11,NaN,2025-01-28T02:48:00.000Z,1027.0,Ethereum,ETH,ethereum,0xdac17f958d2ee523a2206206994597c13d831ec7,2025-01-28 08:20:49.839069
4,4,5426,Solana,SOL,solana,834,2020-04-10T00:00:00.000Z,"['pos', 'platform', 'solana-ecosystem', 'cms-h...",NaN,4.866857e+08,...,3.2961,1.403255e+11,NaN,2025-01-28T02:48:00.000Z,NaN,NaN,NaN,NaN,NaN,2025-01-28 08:20:49.839069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189995,4995,34816,TRRUE,TRRUE,trrue,2,2025-01-03T09:32:32.000Z,['ethereum-ecosystem'],3.000000e+08,0.000000e+00,...,0.0000,3.537138e+06,NaN,2025-01-29T02:37:00.000Z,1027.0,Ethereum,ETH,ethereum,0x36E45dcfE1d3d85A78c65c3baD4068dEE4f2a25e,2025-01-29 08:08:05.246547
189996,4996,34221,Bonkey,BONKEY,bonkey,7,2024-11-26T07:29:36.000Z,"['memes', 'base-ecosystem']",1.000000e+09,0.000000e+00,...,0.0000,5.892380e+05,NaN,2025-01-29T02:37:00.000Z,27716.0,Base,TBA,base,0x3C5fdF0ee37D62C774025599E3b692D027746E24,2025-01-29 08:08:05.246547
189997,4997,33768,Chasm,CAI,chasm-ai,5,2024-11-01T17:16:43.000Z,"['ai-big-data', 'ethereum-ecosystem', 'ai-agen...",1.000000e+09,0.000000e+00,...,0.0000,3.420317e+07,NaN,2025-01-29T02:37:00.000Z,1027.0,Ethereum,ETH,ethereum,0x19247618d79e3fc4d4866169789e4b8eedef52e6,2025-01-29 08:08:05.246547
189998,4998,30232,Verida,VDA,verida,11,2024-05-16T15:42:16.000Z,"['storage', 'polygon-ecosystem', 'ai-agents']",1.000000e+09,0.000000e+00,...,0.0000,1.291510e+07,NaN,2025-01-29T02:37:00.000Z,28321.0,Polygon,POL,polygon-ecosystem-token,0x683565196C3EAb450003C964D4bad1fd3068D4cC,2025-01-29 08:08:05.246547
189999,4999,33594,TRUMP AI,TRAIMP,trump-ai-solana,1,2024-10-23T15:10:00.000Z,"['memes', 'solana-ecosystem']",9.999996e+08,0.000000e+00,...,0.0000,5.281193e+04,NaN,2025-01-29T02:37:00.000Z,5426.0,Solana,SOL,solana,TrUPjEqGpUph6sMJX8C3yYja9u4RcVUGTCkGG4xLrjG,2025-01-29 08:08:05.246547

In [20]:
df2=df2[['name','symbol','slug','num_market_pairs','date_added','tags','max_supply','circulating_supply','quote.USD.market_cap_dominance','quote.USD.fully_diluted_market_cap','platform.id','platform.name','platform.symbol','platform.slug','time_stamp']]

In [22]:
df2

,name,symbol,slug,num_market_pairs,date_added,tags,max_supply,circulating_supply,quote.USD.market_cap_dominance,quote.USD.fully_diluted_market_cap,platform.id,platform.name,platform.symbol,platform.slug,time_stamp
0,Bitcoin,BTC,bitcoin,11884,2010-07-13T00:00:00.000Z,"['mineable', 'pow', 'sha-256', 'store-of-value...",2.100000e+07,1.981602e+07,58.0258,2.149212e+12,NaN,NaN,NaN,NaN,2025-01-28 08:20:49.839069
1,Ethereum,ETH,ethereum,9900,2015-08-07T00:00:00.000Z,"['pos', 'smart-contracts', 'ethereum-ecosystem...",NaN,1.205120e+08,11.0281,3.853972e+11,NaN,NaN,NaN,NaN,2025-01-28 08:20:49.839069
2,XRP,XRP,xrp,1518,2013-08-04T00:00:00.000Z,"['medium-of-exchange', 'enterprise-solutions',...",1.000000e+11,5.764121e+10,5.0390,3.055384e+11,NaN,NaN,NaN,NaN,2025-01-28 08:20:49.839069
3,Tether USDt,USDT,tether,114914,2015-02-25T00:00:00.000Z,"['stablecoin', 'asset-backed-stablecoin', 'eth...",NaN,1.394574e+11,3.9896,1.415552e+11,1027.0,Ethereum,ETH,ethereum,2025-01-28 08:20:49.839069
4,Solana,SOL,solana,834,2020-04-10T00:00:00.000Z,"['pos', 'platform', 'solana-ecosystem', 'cms-h...",NaN,4.866857e+08,3.2961,1.403255e+11,NaN,NaN,NaN,NaN,2025-01-28 08:20:49.839069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189995,TRRUE,TRRUE,trrue,2,2025-01-03T09:32:32.000Z,['ethereum-ecosystem'],3.000000e+08,0.000000e+00,0.0000,3.537138e+06,1027.0,Ethereum,ETH,ethereum,2025-01-29 08:08:05.246547
189996,Bonkey,BONKEY,bonkey,7,2024-11-26T07:29:36.000Z,"['memes', 'base-ecosystem']",1.000000e+09,0.000000e+00,0.0000,5.892380e+05,27716.0,Base,TBA,base,2025-01-29 08:08:05.246547
189997,Chasm,CAI,chasm-ai,5,2024-11-01T17:16:43.000Z,"['ai-big-data', 'ethereum-ecosystem', 'ai-agen...",1.000000e+09,0.000000e+00,0.0000,3.420317e+07,1027.0,Ethereum,ETH,ethereum,2025-01-29 08:08:05.246547
189998,Verida,VDA,verida,11,2024-05-16T15:42:16.000Z,"['storage', 'polygon-ecosystem', 'ai-agents']",1.000000e+09,0.000000e+00,0.0000,1.291510e+07,28321.0,Polygon,POL,polygon-ecosystem-token,2025-01-29 08:08:05.246547
189999,TRUMP AI,TRAIMP,trump-ai-solana,1,2024-10-23T15:10:00.000Z,"['memes', 'solana-ecosystem']",9.999996e+08,0.000000e+00,0.0000,5.281193e+04,5426.0,Solana,SOL,solana,2025-01-29 08:08:05.246547

In [28]:
pd.set_option('display.float_format',lambda x:'%.5f' %x)

In [30]:
df3=df2.groupby('name',sort=False)[['num_market_pairs','quote.USD.market_cap_dominance','quote.USD.fully_diluted_market_cap','platform.id']].mean()
df3

,num_market_pairs,quote.USD.market_cap_dominance,quote.USD.fully_diluted_market_cap,platform.id
name,,,,
Bitcoin,11884.00000,58.36417,2140069342767.47461,NaN
Ethereum,9900.97368,10.86043,375818461760.04681,NaN
XRP,1518.00000,5.12508,307670764982.37787,NaN
Tether USDt,114988.00000,4.02902,141522131156.18369,1027.00000
Solana,834.00000,3.24604,136827021635.34843,NaN
...,...,...,...,...
Satori Network,2.00000,0.00000,94205980.50906,NaN
Covalent,63.00000,0.00000,4477830.73708,1027.00000
Domani Protocol,20.00000,0.00000,13506414.35267,1027.00000
NAYM,6.00000,0.00000,13415213.87143,27716.00000
neirowifhat,2.00000,0.00000,21298.80000,1027.00000

In [32]:
df4=df3.stack()

In [33]:
df4

name
Bitcoin      num_market_pairs                             11884.00000
             quote.USD.market_cap_dominance                  58.36417
             quote.USD.fully_diluted_market_cap   2140069342767.47461
Ethereum     num_market_pairs                              9900.97368
             quote.USD.market_cap_dominance                  10.86043
                                                          ...
NAYM         platform.id                                  27716.00000
neirowifhat  num_market_pairs                                 2.00000
             quote.USD.market_cap_dominance                   0.00000
             quote.USD.fully_diluted_market_cap           21298.80000
             platform.id                                   1027.00000
Length: 19607, dtype: float64

In [36]:
df5=df4.to_frame(name='values')

In [38]:
df6=df5.reset_index()
df6

              name                             level_1              values
0          Bitcoin                    num_market_pairs         11884.00000
1          Bitcoin      quote.USD.market_cap_dominance            58.36417
2          Bitcoin  quote.USD.fully_diluted_market_cap 2140069342767.47461
3         Ethereum                    num_market_pairs          9900.97368
4         Ethereum      quote.USD.market_cap_dominance            10.86043
...            ...                                 ...                 ...
19602         NAYM                         platform.id         27716.00000
19603  neirowifhat                    num_market_pairs             2.00000
19604  neirowifhat      quote.USD.market_cap_dominance             0.00000
19605  neirowifhat  quote.USD.fully_diluted_market_cap         21298.80000
19606  neirowifhat                         platform.id          1027.00000

[19607 rows x 3 columns]

In [40]:
df7=df6.rename(columns={'level_1':'percent_change'})
df7

              name                      percent_change              values
0          Bitcoin                    num_market_pairs         11884.00000
1          Bitcoin      quote.USD.market_cap_dominance            58.36417
2          Bitcoin  quote.USD.fully_diluted_market_cap 2140069342767.47461
3         Ethereum                    num_market_pairs          9900.97368
4         Ethereum      quote.USD.market_cap_dominance            10.86043
...            ...                                 ...                 ...
19602         NAYM                         platform.id         27716.00000
19603  neirowifhat                    num_market_pairs             2.00000
19604  neirowifhat      quote.USD.market_cap_dominance             0.00000
19605  neirowifhat  quote.USD.fully_diluted_market_cap         21298.80000
19606  neirowifhat                         platform.id          1027.00000

[19607 rows x 3 columns]

In [44]:
import seaborn as sns

In [ ]:
sns.catplot(x='percent_change',y='values',hue='name',data=df7,kind='point')

In [221]:
df7['percent_change']=df7['percent_change'].replace(['quote.USD.market_cap_dominance','num_market_pairs','quote.USD.fully_diluted_market_cap'],['24h','7d','30d'])

In [223]:
df7

                name percent_change              values
0            Bitcoin             7d         11884.00000
1            Bitcoin            24h            58.02580
2            Bitcoin            30d 2149211690383.87988
3           Ethereum             7d          9900.00000
4           Ethereum            24h            11.02810
...              ...            ...                 ...
19005  Nirvana Chain            24h             0.00000
19006  Nirvana Chain            30d       8331848.52000
19007         GENZAI             7d             2.00000
19008         GENZAI            24h             0.00000
19009         GENZAI            30d        269172.14000

[19010 rows x 3 columns]